.navigationWrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  position: fixed;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  z-index: 999999999;
}

.navigationList__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.naviagtionList__element {
  color: #23242a;
  list-style: none;
  font-family: "Gelasio", serif;
  text-align: center;
  justify-self: stretch;
  font-weight: 500;
  font-size: 18px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  cursor: pointer;
  top: 48px;
  margin-right: 50px;
}

.navigationList__wrapper {
  text-decoration: none;
  justify-self: center;
  align-self: center;
}

.imgNavbar {
  padding-top: 20px;
  margin-left: 106px;
  width: 224px;
  height: 83px;
  padding-left: 106px;
  display: grid;
  justify-content: start;
}
.imgNavigations {
  display: grid;
  justify-content: start;
}
.navbarBtn {
  visibility: hidden;
}
.navbarList {
  list-style: none;
}
@media (max-width: 680px) {
  .navigationList__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    background: red;
    top: 0;
    left: -100%;
    transition: all 0.5s;
  }
  .navbarBtn {
    visibility: visible ;
  }
}

.visible {
  left: 0;
}
