.wrapperAbout {
  display: grid;
  height: 650px;
}

.aboutImage {
  height: 814px;
  background-image: url("../../assets/images/patrycjagrabarska.png");
  margin-top: -180px;
  background-repeat: no-repeat;
}
.aboutContent {
  display: grid;
  grid-template-columns: 39% 22%;
  justify-content: center;
}
.aboutText {
  margin-top: -60px;
}
.aboutName {
  font-family: "Gelasio", serif;
  font-weight: bold;
  font-size: 48px;
  color: #a6263e;
}
.aboutSurname {
  font-family: "Gelasio", serif;
  font-weight: bold;
  font-size: 48px;
  color: #a6263e;
  margin-left: 80px;
}
.aboutImageLine {
  height: 683px;
  display: grid;
  background-image: url("../../assets/images/line_4.png");
  background-repeat: no-repeat;
  margin-top: -542px;
  width: 100%;
  background-position: 101% -2%;
}
.aboutParagraph {
  font-family: "Montserrat", serif;
  letter-spacing: -0.015em;
  font-weight: normal;
  font-size: 16px;
  color: #23242a;
  line-height: 25px;
}

// @media (max-width: 1400px) {
//   .aboutImageLine {
//     margin-top: -467px;

//     background-position: 101% 3%;
//   }
// }
// @media (max-width: 1200px) {
//   .aboutImageLine {
//     margin-top: -467px;

//     background-position: 101% 3%;
//   }
// }
// @media (max-width: 992px) {
//   .aboutImageLine {
//     margin-top: -467px;

//     background-position: 101% 3%;
//   }
// }
// @media (max-width: 768px) {
//   .aboutImageLine {
//     margin-top: -467px;

//     background-position: 101% 3%;
//   }
// }
// @media (max-width: 576px) {
//   .aboutImageLine {
//     margin-top: -467px;

//     background-position: 101% 3%;
//   }
// }
